finalizar-pedido{
    .barra-navegacao{
        a{
            text-decoration: none;
            color: white;
            font-size: 18px;
        }
    }

    .conteiner{
        background-color: #EEEEEE;

        .titulo-inicial{
            margin-top: 5%;
            margin-left: 5%;
            font-size: 15px;
        }
    }
}